@using V2.DocVerifier.Models;
@model GeminiResponse;

@{
    ViewData["Title"] = "Document Details";
}

<div class="call-center-wrap">
    <div class="call-center-form">
        <div class="header-line">
            <h2>Document Details</h2>
        </div>

        <div class="row">
            <div class="col">
                <div class="text-end">
                    <button class="btn btn-default btn-back" type="button" id="btnLegalBack"><i class="fa-solid fa-chevron-left"></i> Back</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-primary save-btn text-bold load-add" href="/Home"><i class="fal fa-plus"></i> New Document</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-primary save-btn text-bold load-add" href="/Home/ListPayStubResults">Paystub Results</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-primary save-btn text-bold load-add" href="/Validate/Index">Paystub Validator</a>
                </div>
            </div>
        </div>

        <div class="row" width="100%">
            <div class="col-md-4 bg-light border" style="overflow-y: scroll; height:800px;">
                <table id="tblsearch" width="100%" class="support-case-table table dt-responsive mb-4">
                    <thead>
                        <tr>
                            <th>Element</th>
                            <th>Value</th>
                            <th>Override</th>
                            <th>Accuracy %</th>
                        </tr>
                    </thead>

                    @{
                        foreach (var item in Model.Elements)
                        {
                            var _result = item.Confidence_Score * 100;
                            <tr onmouseover="plotCordinate(@item.X,@item.Y, @item.Height, @item.Width)" onmouseout="clearPlot(@item.X,@item.Y, @item.Height, @item.Width)">
                                <td>@item.Label</td>
                                <td>@item.Value</td>
                                <td><input type=text value="@item.Value" /></td>
                                <td>@_result</td>
                            </tr>
                        }
                    }
                </table>
            </div>
            <div class="col-md-8 bg-light border">
                <div className="canvas-section flex-grow-1 bg-light h-100 overflow-auto hide-scrollbar border rounded d-flex justify-content-center">
                    <canvas id="myCanvas" className="bg-white" />
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/dist/components/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.9/jquery.mask.min.js" type="text/javascript"></script>
    <script src="~/dist/components/filepond/dist/filepond.min.js"></script>
    <script src="~/dist/components/filepond/jquery-filepond/filepond.jquery.js"></script>
    <script src="~/dist/components/filepond/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.min.js"></script>
    <script src="~/dist/components/filepond/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.min.js"></script>
    <script src="~/js/document_verifier/docverifier.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/js/document_verifier/imageDetails.js" type="text/javascript" asp-append-version="true"></script>
    <script>
        loadImage(@Model.ImageWidth, @Model.ImageHeight, @Html.Raw(Json.Serialize(@Model.ImageContent)));
    </script>
}